.back-dark {
    background-color: rgb(10, 23, 59);
}

.back-icon {
    background-image: url("./android-chrome-192x192.png");
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 5%;
}

.back-black {
    background-color: rgb(6, 14, 36);
}

.flex-on {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wide-about {
    width: 100vh;
}

.link-footer {
    color: rgb(160, 160, 160);
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.link-footer:hover {
    color: rgb(197, 197, 197);
}

@media (max-width: 1000px) {
    .wide-about {
        width: 50vh;
    }
}

@media (max-width: 440px) {
    .flex-on {
        flex-wrap: wrap;
    }
}
